md-grid-tile {
  background: lightblue;
}

  
.example-header-image {
  background-size: cover;
}

.produtos-container{
  padding: 0px 0px 10px 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.floating-button{
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 5px;
  cursor: pointer;
}

.produto-card {
  max-width: 250px;
  margin: 10px 10px 0px 0px;
}

@media all and (max-width: 500px) {
  .produto-card {
    max-width: 400px;
    margin: 5px 5px 0px 0px;
  }
  .produtos-container{
    padding: 0px 0px 5px 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}