<div flex flex-gt-xs="50" layout-xs="row" layout="column" class="produtos-container">


  <md-card class="produto-card" *ngFor="let produto of produtos">
    <button md-icon-button (click)="confirmarDelete(produto.id);" *ngIf="authenticate.token()" color="warn" class="floating-button">
      <md-icon class="mat-icon material-icons">delete_forever</md-icon>
    </button>

    <img md-card-image src="{{produto.imagem}}">
    <md-card-header>
      <md-card-title>{{produto.nome}}</md-card-title>
      <!--<md-card-subtitle>Dog Breed</md-card-subtitle>-->
    </md-card-header>
    <md-card-content>
      <p>
        {{produto.descricao}}
      </p>
      <md-grid-list cols="2">
        <div>peso: {{produto.peso}}</div>
        <div>comp (cm): {{produto.comprimento}}</div>
        <div>alt (cm): {{produto.altura}}</div>
        <div>larg (cm): {{produto.largura}}</div>
        <div>diam (cm): {{produto.diametro}}</div>
      </md-grid-list>
    </md-card-content>
    <md-card-actions>
      <p>FRETE</p>
      <md-input-container>
        <input mdInput type="text" placeholder="CEP" md-maxlength="8" (keyup)="buscaFrete(produto.id)" [(ngModel)]="produto.cep">
      </md-input-container>

      <p md-line *ngIf="produto.sedex" > sedex: {{produto.sedex.valor}} - {{produto.sedex.prazo_entrega}} dias </p>
      <p md-line *ngIf="produto.pac" >pac: {{produto.pac.valor}} - {{produto.pac.prazo_entrega}} dias</p>
    </md-card-actions>
  </md-card>

</div>