<md-card *ngIf="!token();else sair">
  
    <p>
      <md-input-container>
        <input mdInput placeholder="E-mail" #email required>
      </md-input-container>
    </p><p>
      <md-input-container>
        <input type="password" mdInput #password placeholder="Senha" required>
      </md-input-container>
    </p>
    <p>
      <button md-button (click)="authenticate(email.value, password.value); password.value=''" color="primary">Entrar</button>
    </p>

</md-card>

<ng-template #sair><button md-button (click)="logout()">Sair</button></ng-template>