<md-sidenav-container class="example-container">
  <md-sidenav #sidenav>
    <a md-menu-item routerLink="/logon" routerLinkActive="active" (click)="sidenav.close()"> Login </a>
    <button md-menu-item> Help </button>
  </md-sidenav>
  <md-toolbar color="primary">

      <button _ngcontent-c13="" class="sidenav-toggle mat-button" md-button="" (click)="sidenav.open()" >
        <span class="mat-button-wrapper">
          <md-icon _ngcontent-c13="" class="mat-icon material-icons" role="img" aria-hidden="true">menu</md-icon>
        </span>
        <div class="mat-button-ripple mat-ripple" md-ripple=""></div><div class="mat-button-focus-overlay"></div>
      </button>
      
      <span>AppAgro</span>
      <span class="example-spacer"></span>
  </md-toolbar>

  <router-outlet></router-outlet>
</md-sidenav-container>