/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body, material-app, md-sidenav-container, .my-content {
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

body {
    background:lightgray;
}

